<div>
<h1>Sign Up</h1>
<p>Please fill in this form to create an account.</p>
<hr>
<input type="text" placeholder="UserName" ng-model="userName" required><br/><br/>
<input type="password" placeholder="Enter Password" ng-model="password" required><br/><br/>
<input type="text" placeholder="FirstName" required ng-model="firstName"><br/><br/>
<input type="text" placeholder="LastName" required ng-model="lastName"><br/><br/>
<input type="email" placeholder="Email" required ng-model="email"><br/><br/>
<input type="tel" placeholder="Phone No" required ng-model="phNum"><br/><br/>
<input type="text" placeholder="Location" required ng-model="location"><br/><br/>
<button ng-click="createNewUser()" >SignUp</button>
</div>